In [74]:
import pandas as pd

In [75]:
df_train= pd.read_csv('raw_datasets\Restaurants_Test.csv')
print(df_train)

             sentenceId                                           raw_text  \
0     32897564#894393#2                    The bread is top notch as well.
1     33070600#670328#0  I have to say they have one of the fastest del...
2     33070600#670328#2        Food is always fresh and hot- ready to eat!
3     36244464#949326#5      Did I mention that the coffee is OUTSTANDING?
4     32894246#870052#0  Certainly not the best sushi in New York, howe...
..                  ...                                                ...
795  11661949#1709112#8                        Anyway, the owner was fake.
796   35698240#574381#2                Owner is pleasant and entertaining.
797   11350390#802808#3  I have never in my life sent back food before,...
798   11482070#503858#3  Although the restaurant itself is nice, I pref...
799   11351628#404492#3  Creamy appetizers--taramasalata, eggplant sala...

                                           aspectTerms  \
0          [{'term': 'bread', 'polarity': 'positive'}]
1    [{'term': 'delivery times', 'polarity': 'posit...
2           [{'term': 'Food', 'polarity': 'positive'}]
3         [{'term': 'coffee', 'polarity': 'positive'}]
4    [{'term': 'sushi', 'polarity': 'conflict'}, {'...
..                                                 ...
795        [{'term': 'owner', 'polarity': 'negative'}]
796        [{'term': 'Owner', 'polarity': 'positive'}]
797  [{'term': 'food', 'polarity': 'negative'}, {'t...
798         [{'term': 'food', 'polarity': 'negative'}]
799  [{'term': 'Creamy appetizers', 'polarity': 'po...

                                      aspectCategories
0       [{'category': 'food', 'polarity': 'positive'}]
1    [{'category': 'service', 'polarity': 'positive'}]
2       [{'category': 'food', 'polarity': 'positive'}]
3       [{'category': 'food', 'polarity': 'positive'}]
4    [{'category': 'food', 'polarity': 'conflict'},...
..                                                 ...
795  [{'category': 'service', 'polarity': 'negative'}]
796  [{'category': 'service', 'polarity': 'positive'}]
797  [{'category': 'food', 'polarity': 'negative'},...
798  [{'category': 'ambience', 'polarity': 'positiv...
799     [{'category': 'food', 'polarity': 'positive'}]

[800 rows x 4 columns]

In [76]:
print(df_train['aspectCategories'])

0         [{'category': 'food', 'polarity': 'positive'}]
1      [{'category': 'service', 'polarity': 'positive'}]
2         [{'category': 'food', 'polarity': 'positive'}]
3         [{'category': 'food', 'polarity': 'positive'}]
4      [{'category': 'food', 'polarity': 'conflict'},...
                             ...
795    [{'category': 'service', 'polarity': 'negative'}]
796    [{'category': 'service', 'polarity': 'positive'}]
797    [{'category': 'food', 'polarity': 'negative'},...
798    [{'category': 'ambience', 'polarity': 'positiv...
799       [{'category': 'food', 'polarity': 'positive'}]
Name: aspectCategories, Length: 800, dtype: object

In [77]:
import ast

In [78]:
df_train['aspectCategories'] = df_train['aspectCategories'].apply(ast.literal_eval)

In [79]:
print(df_train['aspectCategories'])

0         [{'category': 'food', 'polarity': 'positive'}]
1      [{'category': 'service', 'polarity': 'positive'}]
2         [{'category': 'food', 'polarity': 'positive'}]
3         [{'category': 'food', 'polarity': 'positive'}]
4      [{'category': 'food', 'polarity': 'conflict'},...
                             ...
795    [{'category': 'service', 'polarity': 'negative'}]
796    [{'category': 'service', 'polarity': 'positive'}]
797    [{'category': 'food', 'polarity': 'negative'},...
798    [{'category': 'ambience', 'polarity': 'positiv...
799       [{'category': 'food', 'polarity': 'positive'}]
Name: aspectCategories, Length: 800, dtype: object

In [11]:
df_normalized = pd.json_normalize(df_train['aspectCategories'].explode())

In [12]:
category_counts = df_normalized['category'].value_counts()

In [13]:
print("Unique categories and their counts:")
print(category_counts)

Unique categories and their counts:
category
food                       1232
anecdotes/miscellaneous    1132
service                     597
ambience                    431
price                       321
Name: count, dtype: int64

In [80]:
categories = ['food', 'anecdotes/miscellaneous', 'service', 'ambience', 'price']
df_new = pd.DataFrame(df_train['raw_text'])

In [81]:
# Add columns for each category with default value 0
for category in categories:
    df_new[category] = 0

In [82]:
print(df_new)

                                              raw_text  food  \
0                      The bread is top notch as well.     0
1    I have to say they have one of the fastest del...     0
2          Food is always fresh and hot- ready to eat!     0
3        Did I mention that the coffee is OUTSTANDING?     0
4    Certainly not the best sushi in New York, howe...     0
..                                                 ...   ...
795                        Anyway, the owner was fake.     0
796                Owner is pleasant and entertaining.     0
797  I have never in my life sent back food before,...     0
798  Although the restaurant itself is nice, I pref...     0
799  Creamy appetizers--taramasalata, eggplant sala...     0

     anecdotes/miscellaneous  service  ambience  price
0                          0        0         0      0
1                          0        0         0      0
2                          0        0         0      0
3                          0        0         0      0
4                          0        0         0      0
..                       ...      ...       ...    ...
795                        0        0         0      0
796                        0        0         0      0
797                        0        0         0      0
798                        0        0         0      0
799                        0        0         0      0

[800 rows x 6 columns]

In [83]:
df_new.at[0, 'food']

0

In [84]:
polarity_map = {'positive': 1, 'negative': 2, 'neutral': 3}
for index, row in df_train.iterrows():
    for aspect in row['aspectCategories']:
        category = aspect['category']
        polarity = aspect['polarity']
        if category in df_new.columns:
            df_new.at[index, category] = polarity_map.get(polarity, 0)

In [88]:
polarity_map = {'positive': 1, 'negative': 2, 'neutral': 3}
for index, row in df_train.iterrows():
    for aspect in row['aspectCategories']:
        category = aspect['category']
        polarity = aspect['polarity']
        print(index,category, polarity )
    if index >= 19: break

0 food positive
1 service positive
2 food positive
3 food positive
4 food conflict
4 ambience positive
5 anecdotes/miscellaneous positive
6 food positive
7 food positive
8 food positive
9 food positive
10 food negative
11 food positive
11 service negative
12 food positive
12 ambience positive
13 service negative
14 food negative
15 food negative
16 food positive
16 price positive
17 food positive
17 service negative
18 food neutral
19 service negative

In [86]:
df_new.head(20)

,raw_text,food,anecdotes/miscellaneous,service,ambience,price
0,The bread is top notch as well.,1,0,0,0,0
1,I have to say they have one of the fastest del...,0,0,1,0,0
2,Food is always fresh and hot- ready to eat!,1,0,0,0,0
3,Did I mention that the coffee is OUTSTANDING?,1,0,0,0,0
4,"Certainly not the best sushi in New York, howe...",0,0,0,1,0
5,"I trust the people at Go Sushi, it never disap...",0,1,0,0,0
6,"Straight-forward, no surprises, very decent Ja...",1,0,0,0,0
7,"BEST spicy tuna roll, great asian salad.",1,0,0,0,0
8,Try the rose roll (not on menu).,1,0,0,0,0
9,"I love the drinks, esp lychee martini, and the...",1,0,0,0,0
10,"In fact, this was not a Nicoise salad and was ...",2,0,0,0,0
11,"While there's a decent menu, it shouldn't take...",1,0,2,0,0
12,"Once we sailed, the top-notch food and live en...",1,0,0,1,0
13,Our waiter was horrible; so rude and disintere...,0,0,2,0,0
14,The sangria's - watered down.,2,0,0,0,0
15,"menu - uneventful, small.",2,0,0,0,0
16,Anytime and everytime I find myself in the nei...,1,0,0,0,1
17,Great food but the service was dreadful!,1,0,2,0,0
18,The portions of the food that came out were me...,3,0,0,0,0
19,the two waitress's looked like they had been s...,0,0,2,0,0

In [89]:
df_new.to_csv('test.csv', index=False)